<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.zbq.websocket.dao.ChattingRecordsDao">

    <resultMap id="ResultMap" type="com.zbq.websocket.entity.ChattingRecordsEntity">
        <id column="id"  property="id" />
        <result column="user_id"  property="userId" />
        <result column="user_name"  property="userName" />
        <result column="msg"  property="msg" />
        <result column="create_time"  property="createTime" />
        <result column="update_time"  property="updateTime" />
        <result column="photo_url"  property="photoUrl" />
    </resultMap>
    <sql id="cols">
        id,
        user_id,
        user_name,
        msg,
        create_time,
        update_time,
        photo_url
    </sql>

    <select id="getAllChattingRecords" resultType="com.zbq.websocket.entity.ChattingRecordsEntity">
        select <include refid="cols"/> from chatting_records
    </select>

    <insert id="saveChattingRecord" parameterType="com.zbq.websocket.entity.ChattingRecordsEntity">
        insert into chatting_records (user_id,user_name, msg, create_time, update_time, photo_url)
            values (#{userId},#{userName}, #{msg}, NOW(),NOW(), #{photoUrl})
    </insert>

</mapper>